    .movies {
        background: rgb(160, 160, 162);

    }

    .movieItem {
        display: flex;
        flex-direction: column;
        max-width: 200px;
        border-radius: 10px;
        padding: 20px;
        background: rgb(255, 255, 255);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    h1 {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        color: white;
    }

    .title {
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
        text-align: center;
        max-width: 200px;
    }

    .details {
        margin-top: auto;
        display: flex;
        padding: auto;
        align-items: center;
        justify-content: center;
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        color: #0e01bd;
    }

    .details:hover {
        color: rgb(99, 99, 99);
    }


    .moviesList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        padding: 20px;

    }